body {
	font-family: sans-serif;
}
#topBar {
		background-color: #48D1CC;
		height: 60px;
		width:100%;
		position: fixed;
		top: 0;
		left: 0;
}

#name {
	color: white;
	position: relative;
	left:25px;
	font-family:sans-serif;
	font-style: italic;
}

#name a {
	color:white;
	text-decoration: none;
}

#name a:hover .cap {
	color:#FFCC99;
}

#topRight {
	position: absolute;
	right: 20px;
	top: 35px;
	font-weight: bold;
}

#topRight a {
	color:white;
	text-decoration: none;
	font-family: sans-serif;
}

#topRight a:hover {
	color:#FFCC99;
}

#belowBar {
	margin-top: 70px;
	margin-left: 15%;
	margin-right:15%;
}

#search {
	height:50px;
	font-size: 40px;
}

#reviews {
	width: 70%;
	text-align: justify;
}

.ind_review {
	padding: 5px;
	border: 2px solid black;
}

.reviewHeader {
	font-weight: bold;
	margin-bottom:0px;
	margin-top:5px;
}


