html {
	overflow-y: scroll; 
}

body {
	padding-top: 60px;
	background-color: #f5f5f5;
}

.navbar {
	background-color: #e74c3c;
	border:none;
}

.navbar-default .navbar-brand {
	color:white;
	font-family: 'Orbitron', sans-serif;
	font-size: 200%;
}

.nav.navbar-nav.navbar-right li a {
	color:white;
}

.nav.navbar-nav.navbar-right li a:hover {
	color:black;
}

.innerContainer {
	margin-bottom: 3%;
}

.col-centered {
	float:none;
	margin: 0 auto;
}

.buffer3 {
	margin-top: 3%;
}

.buffer2 {
	margin-top: 2%
}

#introtext {
	text-align: center;
}

#aval {
	color: #0e8b42;
}

#search-group {
	border-bottom: 3px solid black;
}

#searchbox {
	background-color: #f5f5f5;
	height:60px;
	font-size: 40px;
	padding-left: 0px;
	box-shadow: none;
	border:none;
	border-radius: 0;
	font-family: 'Merriweather', serif;
}

#searchbox:focus {
	outline: none;
	box-shadow: none;
	border:none;
}


@media screen and (max-width: 568px) {
	#searchbox {
		font-size: 14px;
	}
}

#searchicon {
	font-size: 1.8em;
	position:relative;
	top:3px;
}

.search-addon {
	background-color: #f5f5f5;
	border:none;
	border-radius: 0;
}

.search-error {
	text-align: center;
	color: #e74c3c;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	margin:0px;
	padding:0px;
}

.latest_name {
	font-weight: bold;
	display: inline-block;
	height: 70px;
}

.firmBox {
	margin-left:10px;
	margin-right:10px;
	padding:4px;
	height:210px;
	background-color: #2c3e50;
	color:white;
	font-size: 1.4em;
	text-align: left;
	font-family: 'Merriweather', serif;
}

.firmBox a {
	color:white;
}

.firmBox a:hover {
	text-decoration: none;
	color: #c0392b;
}

.evenBox {
	background-color: #7f8c8d;
}

.review {
	text-align: justify;
	font-family: 'Merriweather', serif;
	padding:4px;
}

.rev_header {
	font-weight: bold;
	color: #E59907;
}

.sideArea {
	font-family: 'Merriweather', serif;
}

#sideName {
	font-weight: bold;
}

#nova {
	text-decoration: underline;
}
