body {
	padding-top: 60px;
}

.navbar {
	background-color: #e13f70;
	border:none;
}

.navbar-default .navbar-brand {
	color:white;
	font-family: 'Orbitron', sans-serif;
	font-size: 200%;
}

.nav.navbar-nav.navbar-right li a {
	color:white;
}

.nav.navbar-nav.navbar-right li a:hover {
	color:black;
}

.innerContainer {
	margin-bottom: 3%;
}

.col-centered {
	float:none;
	margin: 0 auto;
}

#searchbox {
	height:60px;
	font-size: 40px;
	padding-left: 0px;
	box-shadow: none;
	border:none;
	background-color: #E7EAF2;
	border-radius: 0;
	font-family: 'Merriweather', serif;
}

#searchbox:focus {
	outline: none;
	box-shadow: none;
	border:none;
}

#searchicon {
	font-size: 1.8em;
	position:relative;
	top:3px;
}

.buffer2 {
	margin-top: 3%;
}

@media screen and (max-width: 568px) {
	#searchbox {
		font-size: 14px;
	}
}

.search-addon {
	background-color: #E7EAF2;
	border:none;
	border-radius: 0;
}

.firmBox {
	margin-left:10px;
	margin-right:10px;
	height:280px;
	background-color: #040E1A;
	color:white;
	font-size: 2.2em;
	text-align: left;
	font-family: 'Merriweather', serif;
}

.firmBox a {
	color:white;
}

.firmBox a:hover {
	text-decoration: none;
}

.evenBox {
	background-color: gray;
}

.review {
	text-align: justify;
	font-family: 'Merriweather', serif;
	background-color: #eff5f9;
	padding:4px;
}

.rev_header {
	font-weight: bold;
	color: #E59907;
}

.sideArea {
	font-family: 'Merriweather', serif;
}

#sideName {
	font-weight: bold;
}

#nova {
	text-decoration: underline;
}
