<!DOCTYPE html>

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/voxpop_ajax.js" %}"></script>

<html> 

<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" </link>
	<title>VOX POP!</title>
</head>

<body>
	<div id="topBar">
		<h1 id="name"><a href='/voxpop/'>[<span class="cap">V</span>ox<span class="cap">P</span>op]</a></h1>
		<span id="topRight"> <a href="http://www.google.com">sobre</a> ///
		<a href="http://www.google.com"> termos e condições </a> </span>
	</div>
	{% block body_block %} {% endblock %}
</body>

</html>