{% for firmlist in firmlists %}
<div class="row buffer2">
  {% for firm in firmlist %}
    {% if forloop.parentloop.counter|add:forloop.counter0|divisibleby:"2" %}
        <div class="col-sm-4">
          <div class="firmBox evenBox" data-firmid="{{ firm.id }}"> <a href="/voxpop/reviews/{{firm.id}}">{{ firm.name }}</a></div>
        </div>
    {% else %}
      <div class="col-sm-4"> 
        <div class="firmBox" data-firmid="{{ firm.id }}"><a href="/voxpop/reviews/{{firm.id}}">{{ firm.name }}</a></div>
      </div>
    {% endif %} 
  {% endfor %}
</div>
{% endfor %}