{% extends 'voxpop/newBase.html' %}

{% load voxpop_extras %}

{% block body_block %}

    <div class="container"> <!--contains everything -->
      <div class="innerContainer">

        <div class="row buffer2">
          <div class="col-sm-8 col-centered">
            <h1 id="introtext"> Do you know what time I got up today, got up today, got up today? </h1>
          </div>
        </div>

        <div class="row buffer3">
          <div class="col-sm-6 col-centered">
              <div class="form-group">
                <div class="input-group" id="search-group">
                  <div class="input-group-addon search-addon"><span class="glyphicon glyphicon-search" id="searchicon" aria-hidden="true"></span></div>
                  <input type="text" class="form-control input-lg" id="searchbox" placeholder="procure um escritório" autofocus>
                </div>
              </div>
          </div>
        </div>

        <div class = "row buffer2">
          <div id="search_results">
            <div class="col-sm-6 col-centered">
              <div id="filler"></div>
            </div>
          </div>
        </div>

        <div class="row buffer3">
          <div class="col-sm-5">
            <h3 id="latest_header"> Últimas Avaliações </h3>
          </div>
        </div>

        <div class = "row buffer2">
          <div id="latest">
            {% for review in latest_reviews %}
              <div class="col-sm-4">
                <span class="latest_name"> {{ review.firm }} </span>
                </br>
                {{ review.tagline }} </br>
                {{ review.rating }}/5 
              </div>
            {% endfor %}
          </div>
        </div>

      </div> <!-- innerContainer block -->
    </div> <!-- content container -->

{% endblock %}