{% extends 'voxpop/newBase.html' %}

{% load voxpop_extras %}

{% block body_block %}

    <div class="container"> <!--contains everything -->
      <div class="innerContainer">
        <div class="row buffer2">
          <div class="col-lg-6 col-centered">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon search-addon"><span class="glyphicon glyphicon-search" id="searchicon" aria-hidden="true"></span></div>
                  <input type="text" class="form-control input-lg" id="searchbox" placeholder="procure um escritório">
                </div>
              </div>
          </div>
        </div>
        <div id="content">
          {% get_newfirms %}
        </div>
      </div> <!-- innerContainer block -->
    </div> <!-- content container -->

{% endblock %}