{% extends 'voxpop/newBase.html' %}

{% block body_block %}

<div class="container">
	<div class="innerContainer">
		{% if firm %}
			
			<div class="row buffer2">
				<div class="col-sm-3">
					<div class="sideArea"> 
						<span id="sideName">{{ firm.name }}</span> <br> <br>
						Escreva uma <a href="/voxpop/newreview/{{ firm.id }}">nova avaliação</a>
						<span class="glyphicon glyphicon-pencil" id="writeicon" aria-hidden="true"></span> 
					</div>
	            </div>			

				{% if reviews %}
					<div id="reviews">
				        <!-- n.b. all reviews go in single column/row -->
				        <div class="col-sm-6">
				             {% for review in reviews %}
				                <div class="review">
				                	<p id="rev-date"> Avaliação submetida {{ review.dt|date:"d-m-Y" }} </p>
				                	<p> <span class="rating">{{review.rating}}</span> / 5
				                	<p class="tagline"> {{ review.tagline }} </p>
									<p> <span class="rev_header">Posição</span> <br>
									{{ review.role }} </p>
									<p> <span class="rev_header">Salário</span><br>
									{{ review.salary }} </p>
									<p> <span class="rev_header">O Bom</span> <br>
									{{ review.pros }} </p>
									<p> <span class="rev_header">O Mau</span> <br>
									{{ review.cons }} </p>
									<p> <span class="rev_header">Estágio</span> <br>
									{{ review.estagio }} </p>
								</div>
							{% endfor %}
						</div>	
					</div>
				
				{% else %}
					<div class="big-text">
						esta sociedade ainda não foi avaliada <br/>
						:(
					</div>
				{% endif %}
			
			</div> <!--close row-->

		{% else %}
			Esta sociedade não existe
		{% endif %}
	
	</div> <!-- inner container -->
</div> <!--container-->

{% endblock %}
